# python tasks

## task1

### create a set containing all the names of the employees

In [3]:

data1 = {"name":"Navya1", "age": 12, "company":"google", "salary": 1000}
data2 = {"name":"Navya2", "age": 13, "company":"microsoft", "salary": 2000}
data3 = {"name":"Navya3", "age": 14, "company":"infosys", "salary": 3000}
data4 = {"name":"Navya4", "age": 15, "company":"wipro", "salary": 4000}
data5 = {"name":"Navya5", "age": 16, "company":"amazon", "salary": 5000}

data_list = [data1, data2, data3, data4, data5]

#accesing method 1
"""employees = { data1['name'], data2['name'], data3['name'],data4['name'],data5['name'] }
age = { data1['age'], data2['age'], data3['age'],data4['age'],data5['age'] }
company = { data1['company'], data2['company'], data3['company'],data4['company'],data5['company'] }
salary = { data1['salary'], data2['salary'], data3['salary'],data4['salary'],data5['salary'] }"""

#accesing method 2
"""employees = [data['name'] for data in data_list]
ages = [data['age'] for data in data_list]
companies = [data['company'] for data in data_list]
salaries = [data['salary'] for data in data_list]"""
employees = []
for data in data_list:
    emp = data["name"]

    employees.append(emp)

ages = []
for data in data_list:
    ag = data["age"]

    ages.append(ag)
    
companies = []
for data in data_list:
    com = data["company"]

    companies.append(com)

salaries = []
for data in data_list:
    sal = data["salary"]

    salaries.append(sal)

print(employees)
print(ages)
print(companies)
print(salaries)

['Navya1', 'Navya2', 'Navya3', 'Navya4', 'Navya5']
[12, 13, 14, 15, 16]
['google', 'microsoft', 'infosys', 'wipro', 'amazon']
[1000, 2000, 3000, 4000, 5000]

## task2

### create a dictionary from data to store a key value pair of company and salary

In [39]:
comp_sal = {}
for data in data_list:
    salary1 = data["salary"]
    company = data['company']
    comp_sal[company] = salary1
print(comp_sal)

{'google': 1000, 'microsoft': 2000, 'infosys': 3000, 'wipro': 4000, 'amazon': 5000}

## task3

### use variables to store immediate values like salary

In [24]:
employees = [data['name'] for data in data_list]
ages = [data['age'] for data in data_list]
companies = [data['company'] for data in data_list]
salaries = [data['salary'] for data in data_list]

print(employees)
print(ages)
print(companies)
print(salaries)

['Navya1', 'Navya2', 'Navya3', 'Navya4', 'Navya5']
[12, 13, 14, 15, 16]
['google', 'microsoft', 'infosys', 'wipro', 'amazon']
[1000, 2000, 3000, 4000, 5000]

## TASK4

### implement the following deduction rule using if elif else statement
if google duducts 10%
if microsoft deducts 20%
if  wipro deducts 40%
if  infosys deducts 30%

In [26]:
def deduce_salary(company):
    if company == "google":
        return comp_salary["google"]*0.1
    if company == "microsoft":
        return comp_salary["microsoft"]*0.2
    if company == "infosys":
        return comp_salary["infosys"]*0.3
    if company == "wipro":
        return comp_salary["wipro"]*0.4
    if company == 'amazon':
        return comp_salary['amazon']*0.5

ded_sal1 =deduce_salary('google')
ded_sal2 = deduce_salary('microsoft')
ded_sal3 = deduce_salary('infosys')
ded_sal4 = deduce_salary('wipro')
ded_sal5 = deduce_salary("amazon")

deduced_salary = [ded_sal1, ded_sal2, ded_sal3, ded_sal4, ded_sal5]


print(deduced_salary)

[100.0, 400.0, 900.0, 1600.0, 2500.0]

## TASK 5

### use for loop to iterate through implieddata and calcualte the net salary of each employee

In [6]:
ded_rates= [0.1, 0.2, 0.3 , 0.4 , 0.5]
total_sal = []

for data in data_list:
    salaries = data['salary']
    total_salary = salaries - (ded_rates[]*salaries)
    total_sal.append(total_salary)

print(total_sal)

TypeError: unsupported operand type(s) for -: 'int' and 'list'

# special statements

In [18]:
love = ['NAVYA', "BAIYYAA JI"  ," ", "NONE"]
love2=[]

for loves in love:
    if loves == " ":
        continue
    elif loves == "NONE":
        continue
    love2.append(loves)
print(love2)

['NAVYA', 'BAIYYAA JI']

# default arguments

In [ ]:
##Write a function greet(name, greeting="Hello") that prints a greeting message. If no greeting is provided, the function should default to "Hello".

def greet(name, greeting="HELLO"):
    print(greeting, name, "!")

greet("NAVYA", "love you")

In [ ]:
#Write a function calculate_area(length, width=5) that calculates the area of a rectangle. If the width is not provided, it should default to 5.
def calculate_area(length, width= 5 ):
    print(length*width)

calculate_area(2,3)
calculate_area(2)

In [ ]:
#wht will be the output
"""def append_to_list(value, my_list=[]):
    my_list.append(value)
    return my_list

print(append_to_list(10))
print(append_to_list(20))
"""
def append_to_list(value, my_list=[]):
    my_list.append(value)
    return my_list

print(append_to_list(10))
print(append_to_list(20))

#output 10
#output 20